<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
    <title>Title</title>
</head>
<body>
<div class="layui-fluid">
    <div class="layadmin-tips">
        <i class="layui-icon layui-icon-face-surprised" face></i>
        <div class="layui-text" style="font-size: 20px;">
            您没有权限进行此操作
        </div>
    </div>
</div>
</body>
</html>