<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css">
    <!--申请的key值--><!--  F0i6SrLmHquLVNLCqpExxPrj8mWVdFwx -->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=AQzdGwhPm0LrbrjckGMOGLPW74eQBqxN"></script>
    <!--加载鼠标绘制工具-->
    <script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
    <!--加载检索信息窗口-->
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.js"></script>

    <script src="/layuiadmin/layui/layui.js"></script>


</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-row">
            <div class="layui-col-md9 layui-col-md12">
                <div id="map" style="-webkit-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;"></div>
            </div>
            <div class="layui-col-md3" >
                <form class="layui-form" lay-filter="component-form-group" hidden>
                    <div class="layui-form-item">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入标题" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">介绍</label>
                        <div class="layui-input-block">
                            <textarea name="memo" id="memo" placeholder="请输入介绍" class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item layui-layout-admin">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
                            <button  class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/mapindex.js"></script>
<script>
    layui.config({
        base: '/layuiadmin/'//静态资源所在路径
    }).extend({
        CoreUtil : 'core-util/CoreUtil'
    }).use(['layer','layedit','CoreUtil'], function(){
        var loading = top.layer.load(1);

        var $ = jQuery = layui.jquery;
        var layer = layui.layer;
        var CoreUtil = layui.CoreUtil;
        $("#map").height(window.innerHeight-30);

        var point_center = new BMap.Point(113.798659,22.690389);
        map.centerAndZoom(point_center, 16);

        var loadData = function(){
        CoreUtil.sendAjax("/manager/statistics",null,function (res) {
            console.log(new Date().getTime())
            $.each(res.data,function(cid,community){
                var community_points = new Array();
                var community_boundary = community.boundary.split("#");

                $.each(community_boundary,function(index,boundary){
                    var community_arr = boundary.split(",");
                    community_points.push(new BMap.Point(community_arr[0],community_arr[1]));
                });
                var community_polygon = new BMap.Polygon(community_points, community_polygon_style);  //创建多边形
                map.addOverlay(community_polygon);
                var community_center = community.center;
                var community_p = community_center.split(",") ;
                var community_point_center = new BMap.Point(community_p[0],community_p[1]);
                var community_label = new BMap.Label(community.name, {offset:new BMap.Size(-20,-5), position:community_point_center});
                community_label.setStyle(community_label_style);//对label 样式隐藏
                map.addOverlay(community_label);

                $.each(community.grids,function(index,grid){
                    //渲染边界
                    var grid_points = new Array();
                    var grid_boundary = grid.boundary.split("#");
                    $.each(grid_boundary,function(index,boundary){
                        var grid_arr = boundary.split(",");
                        grid_points.push(new BMap.Point(grid_arr[0],grid_arr[1]));
                    });
                    var grid_polygon = new BMap.Polygon(grid_points, grid_polygon_style);  //创建多边形
                    map.addOverlay(grid_polygon);
                    grid_polygon.hide();
                    //渲染名称
                    var grid_center = grid.center;
                    var grid_p = grid_center.split(",") ;
                    var grid_point_center = new BMap.Point(grid_p[0],grid_p[1]);
                    var grid_label = new BMap.Label(grid.name, {offset:new BMap.Size(-20,-5), position:grid_point_center});
                    grid_label.setStyle(grid_label_style);//对label 样式隐藏
                    map.addOverlay(grid_label);
                    grid_label.hide();
                });
                var worker5  = new Worker('/js/workers.js');
                worker5.postMessage(community.drugers)   //发送信息给子线程
                worker5.onmessage = function(event){
                    $.each(event.data,function(mindex,member){
                        var point = new BMap.Point(member.longitude,member.latitude);
                        var icon = new BMap.Icon("/images/"+member.status+"0.png?v=1.5", new BMap.Size(14,14));
                        var marker = new BMap.Marker(point,{icon:icon});
                        map.addOverlay(marker);
                        marker.addEventListener("click", function(){
                            member_detail(member.id);
                        })
                        var lab,text;
                        text = member.name;
                        var member_label = new BMap.Label(text, {offset:new BMap.Size(-16,10), position:point});
                        member_label.setStyle(druger_label_style);//对label 样式隐藏
                        map.addOverlay(member_label);
                        member_label.hide();
                    })
                };
            });
            console.log(new Date().getTime())
            top.layer.close(loading);
        },"GET",false,false);
    };
    loadData();
    var member_detail = function (id) {
        var ifr = layer.open({
            title: "吸毒人员详细",
            type: 2,
            content: '/home/app/common/detail',
            area: ['300px', '300px'],
            maxmin: true,
            success: function (layero, index) {
                // 获取子页面的iframe
                var iframe = window['layui-layer-iframe' + index];
                // 向子页面的全局函数child传参
                iframe.detail(id,'druger');
            }
        });
        layer.full(ifr);
    }
    })
</script>
</html>